<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <span class="mdc-typography mdc-typography--display1">[[hello]]</span>
  </div>
  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    [[nice to have you back again]]
  </div>

  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <div class="mdc-textfield zs-textfield--fullwidth" data-mdc-auto-init="MDCTextfield">
      <input type="text" id="mail" class="mdc-textfield__input">
      <label class="mdc-textfield__label" for="my-textfield">[[email]]</label>
    </div>
  </div>

  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <div class="mdc-textfield zs-textfield--fullwidth" data-mdc-auto-init="MDCTextfield">
      <input type="password" id="pwd" class="mdc-textfield__input">
      <label class="mdc-textfield__label" for="my-textfield">[[password]]</label>
    </div>
  </div>
  
  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <button class="mdc-button mdc-button--raised mdc-button--primary zs-button-fullwidth" data-mdc-auto-init="MDCRipple" onclick="login.loginMeIn();">
      [[login]]
    </button>
  </div>
  
  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
   &nbsp;
  </div>
  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    [[not a member yet]]
  </div>
  
  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <button class="mdc-button mdc-button--raised mdc-button--accent" data-mdc-auto-init="MDCRipple" onclick="login.register();">
      [[register]]
    </button>
  </div>
</div>