/* Color palette -   inspired by: http://www.colourlovers.com/palette/92095/Giant_Goldfish
                   finished with: https://material.io/guidelines/style/color.html#color-color-palette */
:root {
    --mdc-theme-primary:    #03A9F4;
    --mdc-theme-accent:     #FF9100;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* A quick and simple toolbar, while we're waiting for mdc-toolbar. */
.toolbar {
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
}
@media (min-width: 600px) {
    .toolbar {
        height: 64px;
    }
}

/* A simple menu button. */
.btn-menu {
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    color: #FFF;
    box-sizing: border-box;
}


.mdc-textfield.zs-textfield--fullwidth.zs-textfield--fullwidth {
   width:100%;
   height:initial;
}

.mdc-button.zs-button-fullwidth {
   width:100%;
}